* {
    padding: 0;
    margin: 0;
}

body {
  width: 1920px;
  height: 1188px;
  padding: 60px 752px 29px 451px;
  background-color: #fff;
}

.logo {
  width: 61px;
  height: 24px;
  margin: 0px 111px 0px 29px;
  object-fit: contain;
  font-family: Crete Round;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.26;
  letter-spacing: 1.7px;
  text-align: left;
  color: #060c31;
}

.main_title {
  width: 500px;
  height: 186px;
  margin: 89px 196px 36px 29px;
  font-family: Crete Round;
  font-size: 58px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 2.9px;
  text-align: left;
  color: #060c31;	
}

.text {
  width: 416px;
  height: 84px;
  margin: 36px 271px 57px 30px;
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.75px;
  text-align: left;
  color: #060c31;
}

.button {
  margin-top: :47px;
  margin-bottom: 28px
}

.get_button {
  width: 152px;
  height: 50px;
  margin-right: 20px;
  margin-left: 29px;
  padding: 19px 36px 20px 35px;
  border-radius: 25px;
  background-color: #233fe2;
  color: #fff;
  text-decoration: none;
}

.get_button:hover {
	background-color: #0024f9;
}

.create_button {
  width: 164px;
  height: 50px;
  margin-right: 352px;
  margin-left: 20px; 
  padding: 19px 27px 20px;
  border-radius: 25px;
  border: solid 1px #ffb0b1;
  background-color: #fff;
  color: #060c31;
  text-decoration: none;
}

.create_button:hover {
	background-color: #ffaaa5;
}

.clipart {
  width: 717px;
  height: 569px;
  margin: 28px 0 0;
  object-fit: contain;
}
